/* DashboardPage.css */
.dashboard-container {
    background-image: url('./image_4.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .dashboard-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    /*background-color: rgba(239, 213, 234, 0.7);*/
    padding: 2rem;
  }

  h1 {
    margin-bottom:400px;
    
}

  p {
    font-size: 20px;
    color: aliceblue;
    font-weight: bold;
    padding-bottom: 1rem;
    margin-left: 1000px;
  }
  
  .dashboard-actions {
    margin-bottom: 5rem;
    display: flex;
    gap: 1rem;
    font-weight: bolder;
    background-color: lightcyan;
    border-radius: 3px;
    font-size: smaller;
    margin-left: 1000px;
    
  }

blockquote p {
  font-size: 12px;
  font-style:italic;
  color: #9f1e92;
  
} 

.dashboard-actions button {
  background-color: #984491;
  color: #fff;
  padding: 8px 12px; /* Adjust the padding to make it smaller */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-size: 8px; /* Adjust the font size */
  margin-right: 10px; /* Add margin to separate it from other links */
}

.dashboard-actions button:hover {
  background-color: #9f1e92;
}

/* Rest of your styles */

  