/* RegisterPage.css */

/* Container styles */
.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 100px;
  background-color: #f4f4f4;
}

/* Form styles */
.register-form {
  background-color: #fff;
  padding: 20px;
  
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 500px; /* Increase the width */
  text-align: left;
  margin-top: 20px; /* Adjust top margin */
  margin-bottom: -180px; /* Adjust bottom margin */
}
/* Label styles */
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Input styles */
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Note paragraph styles */
.note {
  font-size: 12px;
  margin-bottom: 10px;
}

/* Button styles */
button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  align-items: center;
}

button:hover {
  background-color: #0056b3;
}

/* Link button styles */
.add-info-button {
  margin-top: 10px;
  background-color: #17a2b8;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
  transition: background-color 0.2s ease-in-out;
}

.add-info-button:hover {
  background-color: #117a8b;
}

