
.patient-details-container {
  background-color: plum;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.patient-details-heading {
  font-size: 26px;
  text-align: center;
 
}

.cool-text {
  color: darkmagenta;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  
}


.patient-details {
  font-size: 12px;
  color:rgb(3, 22, 22);
  margin-left: 20px;
}


.patient-details p {
  margin: 5px 0;
  font-size: 14px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.loading-message {
  font-size: 16px;
  color: #888;
}

  