.container {
  max-width: 500px; /* Adjust the width as needed */
  margin: 10px auto; /* Center the container horizontally */
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #dab9f4;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  text-align: left; /* Align the text inside the container to the left */
}

h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.patient-details {
  font-size: 10px;
}

.patient-details p {
  margin: 10px 0;
}

.patient-details strong {
  font-weight: bold;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Loading message style */
p {
  font-size: 16px;
}

  