.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #aec3c6;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    margin: 8px 0;
  }
  
  .loading-message {
    font-size: 18px;
    text-align: center;
  }
  