
.queue-page {
    background-color:aliceblue;
 }

 .container {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center; /* Add this to center horizontally */
    justify-content: center; /* Add this to center vertically */
  }

  h2{
    align-items: center;
    margin-left: 700px;
    font-size: 30px; /* Increase font size */
    color: #7a2a8e; /* Change text color to a cool blue */
    text-transform: uppercase; /* Uppercase text */
    letter-spacing: 2px; /* Add letter spacing */
    margin-bottom: 20px; /* Add space below the heading */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a subtle text shadow */
    }
  
  
  
  ul {
    list-style-type: none;
    padding: 0;
    font-size: smaller;
  }
  
  li {
    margin: 5px 0;
    margin-left: 10px;
    margin-right: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:darkslategray;
  }
  
  