.insurance-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 75vh; 
    background-color: #cac4fa; 
  }
  
  .insurance-form {
    background-color: #e2baf0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .form-group label {
    display: block !important;
    margin-bottom: 10px !important;
    font-weight: bold !important;
    font-size: 18px !important;
    color: purple !important;
    text-transform: uppercase !important;
  }
  
  .insurance-heading {
    font-size: 25px; 
    color: #407cf4; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
  }
  
  .insurance-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 3px solid #ccc;
    border-radius: 4px;
  }
  
  .insurance-form button[type="submit"] {
    background-color: purple;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .insurance-form button[type="submit"]:hover {
    background-color: #800080; 
  }
  