
.add-info-button {
    margin: 10px;
    background-color:rgb(169, 43, 169);
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    transition: background-color 0.2s ease-in-out;
  }
  
  .add-info-button:hover {
    background-color: #117a8b;
  }

  h2{
    margin-left:20px;
    color:rgb(46, 44, 44);
  }