.error {
  color: red;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-image: url('https://cdn.pnghd.pics/data/758/one-small-heart-wallpaper-6.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
}


.login-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
}


.login-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}


.login-input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  align-items: center;
}


.error {
  color: red;
  font-weight: bold;
}


button {
  background-color: #510a6b;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #650ad5;
}

