/* ERHome2.css */
.custom-dropdown {
    width: 100%;
    padding: 10px;
    border: 3px solid #5a82bb;
    border-radius: 5px;
    background-color: #f7f7f7;
    font-size: 16px;
    color: darkblue;
    font-weight: bold;
  }
  
 