
.room-manager-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
  }
  
  .room-manager-table th,
  .room-manager-table td {
    border: 2px solid #dedaf1;
    padding: 8px;
    text-align: center;
    font-size: smaller;
    background-color:aliceblue;
    color: #1c051f;
  }
  
  .toggle-button {
    padding: 4px 8px;
    font-size: 10px;
    background-color: #82198b;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .toggle-button:hover {
    background-color: #0056b3;
  }
  
  .room-heading {
    font-size: 20px; 
    color: azure; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    font-weight: bolder;
  }