.landing-page {
    background-image: url('https://mcdn.wallpapersafari.com/medium/48/4/Ucdm0N.jpg'); /* Relative path to your image file */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    text-align: center;
    min-height: 100vh; /* Ensure the background covers the entire viewport height */
  }
  
  .landing-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .image-container {
    border: 2px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    margin: 0 auto;
  }
  
  .landing-image {
    max-width: 100%;
    height: auto;
  }

body {
    background-color:aliceblue; /* Set your desired background color here */
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
  }

.image-container {
    border: 5px #f0f0f0;
    padding: 10px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    max-width: 500px; /* Limit the width of the container */
    margin: 0 auto; /* Center the container horizontally */
    background-color:whitesmoke;
  }
  
  .image-link {
    display: inline-block;
    transition: transform 0.3s; /* Add smooth transition for the zoom effect */
  }
  
  .image-link:hover {
    transform: scale(1.1); /* Apply the zoom effect on hover */
  }
  .landing-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  .landing-image {
    max-width: 100%;
    height: auto;
  }
  /* LandingPage.css */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .register-button {
    padding: 10px 20px;
    background-color: #c632b0;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .login-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  