ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  font-size: 1rem;
  font-family:sans-serif;
  font-style:inherit;
  font-weight: bolder;
}

.navBar {
  background: rgb(171, 86, 236);
  box-shadow: 4px 2px 5px rgb(246, 238, 238);
  color: white;
  margin-bottom: 2rem;
  padding:2rem 2rem;
}

.navBar button {
  background: transparent;
  border: 3px solid white;
  color: white;
  padding: 0.4rem 0.5rem;
}

.navBar button:hover {
  background: white;
  color:blueviolet;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}
